       <ul id="mainnav">
            <li>
                <a href="/post/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> 博客 </span>
            </a>
            </li>
            <li>
            <a href="/project/">
                <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>
                <span> 项目 </span>
            </a>
            </li>
             <li>
            <a href="/reading/">
                <span class="icon"> <i aria-hidden="true" class="icon-graduation"></i></span>
                <span> 读书 </span>
            </a>
            </li>
           <br/> <li>
            <a href="/presentation/">
                <span class="icon"> <i aria-hidden="true" class="icon-pencil"></i></span>
                <span> 记录 </span>
            </a>
            </li>
           
             <li>
            <a href="/travel/">
                <span class="icon"> <i aria-hidden="true" class="icon-map"></i></span>
                <span> 在路上 </span>
            </a>
            </li>
             <li>
            <a href="/me/index.html">
                <span class="icon"> <i aria-hidden="true" class="icon-user"></i></span>
                <span> 我 </span>
            </a>
            </li>

           
        </ul>
